.additional {
  /* vuestro CSS aquí */
}

.additional.hidden {
  /* vuestro CSS aquí */
  display: none;
}

.additional.visible {
  /* vuestro CSS aquí */
  display: block;
  margin: 2rem;
  padding: auto;
}
